# Group 7 Assignment 
Akintola Adesomoju

Shivam Bhatia

Khuram Khan

Alyque Nathani 

Anmol Randhawa

In [169]:
import numpy as np
import pandas as pd

In [170]:
dataset = pd.read_csv('Combination.csv')

In [171]:
#Importing and Analyzing dataset
dataset

,Years,BreachIncrease,DataBreaches,RecordsExposedInMillions,ITmethodsForManagement,DigitalCommunication,ComputerTechnology,Control,Telecommunications,Measurement,...,Handling,Biotechnology,OtherConsumerGoods,Optics,OtherSpecialMachines,AudioVisualTechnology,Pharmaceuticals,AnalysisOfBiologicalMaterials,ThermalProcessesApparatus,ChemicalEngineering
0,2008,1,656,35.70,4,14,4,0,4,5,...,0,0,0,1,0,0,0,0,0,1
1,2009,0,498,222.50,5,20,3,0,7,5,...,0,0,0,0,0,0,0,0,0,0
2,2010,1,662,16.20,3,13,1,0,1,0,...,0,1,0,0,0,0,0,0,0,2
3,2011,0,419,22.90,4,13,3,0,2,0,...,0,0,0,0,0,0,1,0,0,0
4,2012,1,447,17.30,15,10,5,2,0,0,...,0,3,0,0,0,0,1,0,0,1
5,2013,1,614,91.98,20,33,7,7,0,0,...,0,2,1,0,0,0,1,0,0,0
6,2014,1,783,85.61,104,41,21,45,2,0,...,0,0,0,0,0,1,0,0,1,0
7,2015,1,784,169.07,260,74,54,43,2,1,...,6,4,3,1,1,0,2,0,0,1
8,2016,1,1106,36.60,479,169,126,65,4,2,...,10,1,4,1,0,3,0,0,2,0
9,2017,1,1632,197.61,747,436,276,84,12,3,...,10,0,10,1,3,6,0,2,4,0
10,2018,0,1257,471.23,1711,1453,985,236,22,22,...,14,0,11,4,16,8,2,11,8,3
11,2019,1,1506,164.68,859,712,483,125,6,49,...,4,2,6,1,9,8,4,4,0,0

In [172]:
dataset.head(5)

,Years,BreachIncrease,DataBreaches,RecordsExposedInMillions,ITmethodsForManagement,DigitalCommunication,ComputerTechnology,Control,Telecommunications,Measurement,...,Handling,Biotechnology,OtherConsumerGoods,Optics,OtherSpecialMachines,AudioVisualTechnology,Pharmaceuticals,AnalysisOfBiologicalMaterials,ThermalProcessesApparatus,ChemicalEngineering
0,2008,1,656,35.7,4,14,4,0,4,5,...,0,0,0,1,0,0,0,0,0,1
1,2009,0,498,222.5,5,20,3,0,7,5,...,0,0,0,0,0,0,0,0,0,0
2,2010,1,662,16.2,3,13,1,0,1,0,...,0,1,0,0,0,0,0,0,0,2
3,2011,0,419,22.9,4,13,3,0,2,0,...,0,0,0,0,0,0,1,0,0,0
4,2012,1,447,17.3,15,10,5,2,0,0,...,0,3,0,0,0,0,1,0,0,1

In [173]:
dataset['BreachIncrease']

0     1
1     0
2     1
3     0
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    1
Name: BreachIncrease, dtype: int64

In [174]:
dataset.describe()

,Years,BreachIncrease,DataBreaches,RecordsExposedInMillions,ITmethodsForManagement,DigitalCommunication,ComputerTechnology,Control,Telecommunications,Measurement,...,Handling,Biotechnology,OtherConsumerGoods,Optics,OtherSpecialMachines,AudioVisualTechnology,Pharmaceuticals,AnalysisOfBiologicalMaterials,ThermalProcessesApparatus,ChemicalEngineering
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.00000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.00000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,2013.500000,0.750000,863.666667,127.615000,350.916667,249.000000,164.00000,50.583333,5.166667,7.250000,...,3.666667,1.083333,2.916667,0.75000,2.416667,2.166667,0.916667,1.416667,1.250000,0.666667
std,3.605551,0.452267,413.455358,131.557235,526.933575,437.147572,297.91396,71.238981,6.307763,14.517231,...,5.104959,1.378954,4.055486,1.13818,5.017394,3.270622,1.240112,3.260182,2.454125,0.984732
min,2008.000000,0.000000,419.000000,16.200000,3.000000,10.000000,1.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2010.750000,0.750000,585.000000,32.500000,4.750000,13.750000,3.75000,0.000000,1.750000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2013.500000,1.000000,722.500000,88.795000,62.000000,37.000000,14.00000,25.000000,3.000000,1.500000,...,0.000000,0.500000,0.500000,0.50000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000
75%,2016.250000,1.000000,1143.750000,176.205000,546.000000,235.750000,163.50000,69.750000,6.250000,5.000000,...,7.000000,2.000000,4.500000,1.00000,1.500000,3.750000,1.250000,0.500000,1.250000,1.000000
max,2019.000000,1.000000,1632.000000,471.230000,1711.000000,1453.000000,985.00000,236.000000,22.000000,49.000000,...,14.000000,4.000000,11.000000,4.00000,16.000000,8.000000,4.000000,11.000000,8.000000,3.000000

In [175]:
#Label is the y train and y test
#Dataset is the x train and x test

In [176]:
# Labels are the values we want to predict
labels = np.array(dataset['BreachIncrease'])

In [177]:
# Remove the labels from the dataset
dataset= dataset.drop('BreachIncrease', axis = 1)

In [178]:
# Saving feature names for later use
dataset_list = list(dataset.columns)

In [179]:
# Convert to numpy array
dataset = np.array(dataset)

In [180]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

In [181]:
# Split the data into training and testing sets
train_dataset, test_dataset, train_labels, test_labels = train_test_split(dataset, labels, test_size = 0.25, random_state = 42)

In [182]:
print('Training Dataset Shape:', train_dataset.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Dataset Shape:', test_dataset.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Dataset Shape: (9, 23)
Training Labels Shape: (9,)
Testing Dataset Shape: (3, 23)
Testing Labels Shape: (3,)

In [183]:
#Tried Decision Tree Method but to no avail

In [184]:
from sklearn.tree import DecisionTreeClassifier

In [185]:
classifier = DecisionTreeClassifier()

In [186]:
classifier.fit(train_features, train_labels)

DecisionTreeClassifier()

In [187]:
#Using Random Forest Regressor because of Data Limitations

In [188]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

In [189]:
# Instantiate model with 100 decision trees
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)

In [190]:
# Train the model on training data
rf.fit(train_dataset, train_labels);

In [191]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_dataset)

In [192]:
# Calculate the absolute errors
errors = abs(predictions - test_labels)

In [193]:
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.48 degrees.

In [194]:
from sklearn.metrics import accuracy_score

In [195]:
#Finding Data Accuracy
accuracy = accuracy_score(test_labels, predictions.round())

In [196]:
print(accuracy)

0.6666666666666666